/* CUSTOM FONT 

     		 @font-face {font-family: Sobrio; src: url("font/regular.ttf"); }
     		@font-face {font-family: Sobrio; font-style: italic; src: url("font/italic.ttf"); }
     		 @font-face {font-family: Sobrio; font-weight: bold; src: url("font/bold.ttf"); } */



/* GLOBAL VARIABLES */
:root {
			--fontSize: 9pt;
  			--squarePadding: 1.2rem;
  			--letterSpacing: 0.02rem;
  			--line-height:1.4rem;

        --swiper-navigation-size: 1.2rem !important;

  			font-family: Arial, Helvetica, sans-serif;
     		font-size: var(--fontSize);
     		line-height:var(--line-height);
     		letter-spacing: var(--letterSpacing)
}


/* GENERAL FORMATTING  */

        html{
          margin:0;
          height: -webkit-fill-available;
          }

     		 body{
     		 	margin:0;
     		 	font-size:1rem;
     		 	font-style:normal;
     		 	font-weight:normal;
     		 	padding:0;
     		 	line-height:var(--line-height);
     		 	letter-spacing: var(--letterSpacing);
          height:100vh;
          min-height: 100vh;
          min-height: -webkit-fill-available;

          overflow-y: scroll;
          overflow-x: hidden;
          -webkit-overflow-scrolling: touch;
     		 }

     		 h1{
     		 	font-size:1rem;
     		 	font-style:normal;
     		 	font-weight:normal;
     		 	padding:0;
     		 	margin:0;
     		 	line-height:var(--line-height);
     		 	letter-spacing: var(--letterSpacing);
          display:inline;
     		 }

     		 h2{
     		 	font-size:1rem;
     		 	font-style:italic;
     		 	font-weight:normal;
     		 	padding:0;
     		 	margin:0;
     		 	line-height:var(--line-height);
     		 	letter-spacing: var(--letterSpacing);
          display:inline;
     		 }

     		 p{
     		 	font-size:1rem;
     		 	font-style:normal;
     		 	font-weight:normal;
     		 	padding:0;
     		 	margin:0;
     		 	line-height:var(--line-height);
     		 	letter-spacing: var(--letterSpacing);
     		 }

         a, a:visited, a:hover, a:active {
           color: inherit;
           text-decoration:none;
         }

         a:hover {
          text-decoration:underline;
         }



/* GLOBAL SQUARE STYLING */

			.square{
     		 	/* background: linear-gradient(-120deg, black 0%, blue 100%) !important; */
                /* background: url("img/item3.png") !important; background-size:cover !important; */
                /* color: white !important; */
     		 	/* order: 0px solid #222222 !important; */
  				      aspect-ratio: 1;
                box-sizing: border-box;
  				      position:relative;
                display:flex;
                flex-flow: column wrap;
                transition: .25s;
     		 }

             .squareTextContainer{
                position:absolute;
                top:0;
                left:0;
                box-sizing: border-box;
                width:100%;
                height:100%;
                padding:var(--squarePadding);
                padding-top: calc(var(--squarePadding) - .08rem);
                z-index:80;
             }

      /* for animation 

      .square:hover{
       -webkit-box-shadow: inset 15px 0px 30px -15px #000000;
        -moz-box-shadow: inset 15px 0px 30px -15px #000000;
        -o-box-shadow: inset 15px 0px 30px -15px #000000;
        box-shadow: inset 15px 0px 30px -15px #000000;
        background:rgb(139, 139, 139) !important; color:rgb(0, 0, 0) !important;
      }
        
      
       .square:active{
      
         -webkit-box-shadow: inset 15px 0px 30px -10px #000000;
        -moz-box-shadow: inset 15px 0px 30px -10px #000000;
        -o-box-shadow: inset 15px 0px 30px -10px #000000;
        box-shadow: inset 15px 0px 30px -10px #000000;
        padding: calc(var(--squarePadding) + 0.05rem);
      } 
      */
      

     	.square2{
     		 	background-color: none;
     		 	/* border: 1px solid #F0f0f0; */
  				padding:1.5rem;
  				line-height: 1.4rem;
          height:100vh;
  				position:relative;

     		 }

      .squareBag{
          background: url("img/item.png") !important; background-size:cover !important;
  				aspect-ratio: 1;
          box-sizing: border-box;
  				position:relative;
          display:flex;
          flex-flow: column wrap;
          transition: .15s;
     		 }




/* HOME PAGE CONTENT STYLING */


     	.topLeftText {
          /* position:absolute;
          left:calc(var(--squarePadding) + .1rem);*/
          align-items: flex-start;
     	}

		.topRightText {
     	  /* position:absolute;
     	  right:calc(var(--squarePadding) + .1rem); */
            align-items: flex-end;
     	}
      
      .topRightText {
        position:absolute;
        top: calc(var(--squarePadding) - .08rem);
        right: var(--squarePadding);
      }

     	.botLeftText {
     		 	position:absolute;
                left:var(--squarePadding);
     		 	bottom:var(--squarePadding);
     		 }

		.botRightText {
     		 	position:absolute;
     		 	bottom: calc(var(--squarePadding) - .08rem);
     		 	right: var(--squarePadding);
          text-align: right;
     		 }

      .squareImg{
     		 	position:absolute;
     		 	max-width: 100%;
    			max-height: 100%;
     		 }


/* PROJECT PAGE SINGLE SQUARE STYLING */

          .projMegaWrapper {
            display:flex;
            flex-flow: row wrap;
          }

          .projContainer{
            /* grid-area:sqProj; */
            display:flex;
            height:100vh;
            width:100vw;
            overflow: hidden;
            -webkit-box-sizing: border-box; /* Safari/ Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;
          }

      
          .projImg {                        /* capire se fare solo con SCALE */
            max-height:55%;
            max-width:85%;
          }


          .projImgFirst {                   /* capire se fare solo con SCALE */
            margin:auto;
            max-height:55%;
            max-width: 85%;
          }

          .projImgWrapper{
            display:flex;
            flex-flow: row wrap;
            gap: 5rem;
            margin:auto;
            max-height:100%;
          }





/* PROJECT PAGE v.2 SINGLE SQUARE STYLING */


          .projContainer2{
            /* grid-area:sqProj; */
            box-sizing: border-box;
            display:flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
          }

          /*
          .projDescription2{
            display:block;
            columns:1;
            max-width:91%;
            text-align: justify;
            margin:auto;
            margin-top:3rem;
            margin-bottom:5rem;
          }


          .imgContainer{
            display:flex;
            flex-flow: row wrap;
            align-content: center;
            max-height: 100vh;
            gap:2rem;
            max-width:91%;
            margin:auto;
          }
          */

          .projImg2 {
            margin:auto;
            max-width: 30%;
            max-height: 30%;
          }








/* SWIPER SETTINGS */

        .swiper-slide{
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            flex-flow: row wrap;

            box-sizing: border-box;
            padding: var(--squarePadding) !important;
            gap: 3rem;
        }

        .swiper-pagination-fraction {
          bottom:var(--squarePadding) !important;
        }

        /*  for HALF PAGE CLICK SCROLL MODE (GRADUAL SWIPE DOESNT WORK)

        .swiper-button-next {
          color: black !important;
          right: 1rem !important;
          top: 0 !important;
          width:50% !important;
          height: 100% !important;
          justify-content:right !important;
        }

        .swiper-button-prev {
          color: black !important;
          left: 1rem !important;
          width: 50% !important;
          top: 0 !important;
          height: 100% !important;
          justify-content:left !important;
        }
        */





/* PROJECT PAGE CONTENT STYLING */
         .fixedTopLeftText {
        		 	position:fixed;
              top:var(--squarePadding);
        		 	left:var(--squarePadding);
              z-index: 999;
        		 }

   			.fixedTopRightText {
        		 	position:fixed;
              top:var(--squarePadding);
        		 	right:var(--squarePadding);
              z-index: 999;
              text-align: right;
        		 }

        .fixedBotLeftText {
        		 	position:fixed;
        		 	bottom:var(--squarePadding);
        		 	left:var(--squarePadding);
              z-index: 999;
        		 }

   			.fixedBotRightText {
        		 	position:fixed;
        		 	bottom:var(--squarePadding);
        		 	right:var(--squarePadding);
              z-index: 999;
              text-align: right;
        		 }





/* GENERAL FORMATTING OF RESPONSIVE ELEMENTS */

        .projDescription{
              display:block;
              columns:1;
              max-width:25rem;
              text-align: center;
              margin:auto;
              hyphens: auto !important;
              -webkit-hyphens: auto !important;
              -moz-hyphens: auto !important;
              -ms-hyphens: auto !important;
            }

        .projDescriptionLarge{
              display:block;
              columns:1;
              max-width:60rem;
              text-align: left;
              margin:auto;
              -webkit-hyphens: auto;
              -webkit-hyphenate-limit-before: 3;
              -webkit-hyphenate-limit-after: 3;
              -webkit-hyphenate-limit-chars: 6 3 3;
              -webkit-hyphenate-limit-lines: 2;
              -webkit-hyphenate-limit-last: always;
              -webkit-hyphenate-limit-zone: 8%;
              -moz-hyphens: auto;
              -moz-hyphenate-limit-chars: 6 3 3;
              -moz-hyphenate-limit-lines: 2;
              -moz-hyphenate-limit-last: always;
              -moz-hyphenate-limit-zone: 8%;
              -ms-hyphens: auto;
              -ms-hyphenate-limit-chars: 6 3 3;
              -ms-hyphenate-limit-lines: 2;
              -ms-hyphenate-limit-last: always;
              -ms-hyphenate-limit-zone: 8%;
              hyphens: auto;
              hyphenate-limit-chars: 6 3 3;

          }





/* 5 column grid ( > 1400px large screens) */
@media screen and (min-width: 1800px) and (max-width: 10000px) {

     		 /* set the grid to 5 blocks */
 			 .squareContainer{
     		 	display: grid;
  				grid-template-columns: repeat(5, 1fr);
  				grid-gap: 0px;
     		 }

        :root {
          --fontSize: 11pt;
          --squarePadding: 1.2rem;
          --letterSpacing: 0.02rem;
          --line-height:1.4rem;

          }

        .projDescription{
            max-width:25rem;
          }

        .projDescriptionLarge{
            max-width:60rem;
          }

        /* for multi img slide */
        .projImgWrapper{
            display:flex;
            flex-flow: row wrap;
            gap: 2rem;
            margin:auto;
            max-height:100%;
            max-width: 70%;
            align-items: center;
            justify-content: center;
          }

        .projImgMulti {
            max-height:30vh;
          }

        /* for proj page v.2 */
        .projContainer2{
            /* grid-area:sqProj; */
            box-sizing: border-box;
            display:flex;
            flex-flow: column wrap;
            align-content: center;
            justify-content: center;
            width:100%;
            margin:auto;
            height:1fr;
            padding:3rem 30vw 3rem 30vw;
          }

        .imgContainer{
            display:flex;
            flex-flow: row wrap;
            align-content: center;
            gap:2rem;
            margin:auto;
          }

        .projDescription2{
            display:block;
            columns:2;
            text-align: justify;
            margin:auto;
            margin-top:3rem;
            margin-bottom:8rem;
          }


			}

/* 4 column grid (1500px macbook pro 15) */
@media screen and (min-width: 1300px) and (max-width: 1800px) {

     		 /* set the grid to 4 blocks */
 			 .squareContainer{
     		 	display: grid;
  				grid-template-columns: repeat(4, 1fr);
  				grid-gap: 0px;
     		 }

        :root {
            --fontSize: 9.5pt;
            --squarePadding: 1.2rem;
            --letterSpacing: 0.02rem;
            --line-height:1.4rem;
            }

        .projDescription{
            max-width:60rem;
          }

        .projDescriptionLarge{
            max-width:60rem;
          }

        /* for multi img slide */
        .projImgMulti {
            max-height:35vh;
          }

        .projImgWrapper{
            display:flex;
            flex-flow: column wrap;
            gap: 2rem;
            margin:auto;
            max-height:100%;
            max-width: 90%;
            align-items: center;
            justify-content: center;
          }

			}

/* 3 column grid (1300px small screens) */
@media screen and (min-width: 900px) and (max-width: 1300px) {

     		 /* set the grid to 3 blocks */
 			 .squareContainer{
     		 	display: grid;
  				grid-template-columns: repeat(3, 1fr);
  				grid-gap: 0px;
     		 }

        :root {
          --fontSize: 9.5pt;
          --squarePadding: 1.2rem;
          --letterSpacing: 0.02rem;
          --line-height:1.4rem;
          }

        .projDescription{
            max-width:60%;
          }

        .projDescriptionLarge{
            max-width:60%;
          }

        .projImg{
            max-width:75%;
        }

        /* for multi img slide */
        .projImgMulti {
            max-height:30vh;
          }

        .projImgWrapper{
            display:flex;
            flex-flow: column wrap;
            gap: 2rem;
            margin:auto;
            max-height:100%;
            max-width: 80%;
            align-items: center;
            justify-content: center;
          }

			}

/* 2 columns grid (768px tablets) */
@media screen and (min-width: 480px) and (max-width: 900px) {

     		 /* set the grid to 2 blocks */
 			 .squareContainer{
     		 	display: grid;
  				grid-template-columns: repeat(2, 1fr);
  				grid-gap: 0px;
     		 }

        :root {
          --fontSize: 10pt;
          --squarePadding: 1.2rem;
          --letterSpacing: 0.02rem;
          --line-height:1.4rem;

          }

          .projDescription{
            max-width:75%;
            max-height: 65%;
            overflow-y: scroll;
          }

        .projDescriptionLarge{
            text-align: left;
            max-width:82%;
            max-height: 65%;
            overflow-y: scroll;
          }

        .projImg{
            max-width:80%;
        }

        .projImgFirst {
          margin:auto;
          max-height:45%;
          max-width: 85%;
        }

        /* for multi img slide */
        .projImgMulti {
            max-height:30vh;
          }

        .projImgWrapper{
            display:flex;
            flex-flow: column wrap;
            gap: 2rem;
            margin:auto;
            max-height:100%;
            max-width: 80%;
            align-items: center;
            justify-content: center;
          }
			}


/* 1 column grid (480px mobile devices) */
@media screen and (max-width: 480px) {

     		 /* set the grid to 1 block */
 			 .squareContainer{
     		 	display: grid;
  				grid-template-columns: repeat(1, 1fr);
  				grid-gap: 0px;
     		 }

        :root {
          --fontSize: 10.3pt;
          --squarePadding: 1.2rem;
          --letterSpacing: 0.02rem;
          --line-height:1.4rem;

          }

        /* hide the proj titles
       .topLeftText {
          display:none;
         }

   		 .topRightText {
        	display:none;
        } */

       .projDescription{
            max-width:75%;
            max-height: 65%;
            overflow-y: scroll;
          }

        .projDescriptionLarge{
            text-align: left;
            max-width:82%;
            max-height: 65%;
            overflow-y: scroll;
          }

        .projImg{
            max-width:85%;
        }

        .projImgFirst {
          margin:auto;
          max-height:45%;
          max-width: 85%;
        }

        /* for multi img slide */
        .projImgMulti {
            max-height:30vh;
          }

        .projImgWrapper{
            display:flex;
            flex-flow: column wrap;
            gap: 1.5rem;
            margin:auto;
            max-height:100%;
            max-width: 90%;
            align-items: center;
            justify-content: center;
          }


          body {
            position: relative;
            box-sizing: border-box;
          }

			}
