/* LOCAL CSS FOR DISH */


.squareBagDish{
          background: url("../../img/bags/dish/dish_tile1.webp"); background-size:cover;
          color: rgb(0, 0, 0) !important;
          -webkit-box-shadow: inset 0px 0px 0px 0x rgba(0, 0, 0, 0.15); 
          box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
  				aspect-ratio: 1;
          box-sizing: border-box;
  				position:relative;
          display:flex;
          flex-flow: column wrap;
          transition: .15s;
     		 }

.squareBagDish2{
          background: url("../../img/bags/dish/dish_tile2.webp"); background-size:cover; /* style="background: rgb(238, 8, 23) !important; color:rgb(0, 0, 0);" */
          color: rgb(0, 0, 0) !important;
          -webkit-box-shadow: 0px 0px 4px 0x rgba(0, 0, 0, 0.85); 
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.85);
  				aspect-ratio: 1;
          box-sizing: border-box;
  				position:relative;
          display:flex;
          flex-flow: column wrap;
          transition: .15s;
     		 }


          

.squareImgDish{
     		 	position:absolute;
     		 	max-width: 100%;
    			max-height: 100%;
          transform-origin: center center;
          transform: scale(1);
          transition: transform 1.5s ease-in-out;
     	}