/* LOCAL CSS FOR DISH */


.squareBagDishA{
          background: rgb(255, 0, 0); background-size:cover;
          color: black !important;
          /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65); 
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65); */
  				aspect-ratio: 1;
          box-sizing: border-box;
  				position:relative;
          display:flex;
          flex-flow: column wrap;
          transition: .15s;
     		 }

.squareBagDishB{
          background: url("../../img/bags/dish/dish_cloth_single.jpg"); background-size:cover;
          color: black;
          /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65); 
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65); */
  				aspect-ratio: 1;
          box-sizing: border-box;
  				position:relative;
          display:flex;
          flex-flow: column wrap;
          transition: .15s;
     		 }

         .squareBagDishB .topLeftText{
          background: rgb(255, 255, 255); background-size:cover;
          color: black;
         }

.squareBagDishC{
          background: rgb(255, 255, 255); background-size:cover;
          color: black;
          /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65); 
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65); */
  				aspect-ratio: 1;
          box-sizing: border-box;
  				position:relative;
          display:flex;
          flex-flow: column wrap;
          transition: .15s;
     		 }

.squareImgDish{
     		 	position:absolute;
     		 	max-width: 100%;
    			max-height: 100%;
          transform-origin: center center;
          transform: scale(1);
          transition: transform 1.5s ease-in-out;
     	}