/* local css for RECIPES */


.squareBagDish{
          background: url("../img/bags/recipes/dish_tile1.webp"); background-size:cover;
          color: rgb(0, 0, 0);
          -webkit-box-shadow: inset 0px 0px 0px 0x rgba(0, 0, 0, 0.15); 
          box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
  				aspect-ratio: 1;
          box-sizing: border-box;
  				position:relative;
          display:flex;
          flex-flow: column wrap;
          transition: .15s;
     		 }

.squareBagDish2{
          background: url("../img/bags/recipes/dish_tile2.webp"); background-size:cover; /* style="background: rgb(238, 8, 23) !important; color:rgb(0, 0, 0);" */
          color: rgb(0, 0, 0);
          -webkit-box-shadow: 0px 0px 12px 0x rgba(0, 0, 0, 0.45); 
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
  				aspect-ratio: 1;
          box-sizing: border-box;
  				position:relative;
          display:flex;
          flex-flow: column wrap;
          transition: .15s;
     		 }


@keyframes slowRotate {
  from {
    transform: rotate(0deg) scale(var(--s, 1));
  }
  to {
    transform: rotate(360deg) scale(var(--s, 1));
  }
}

.squareImg{
          animation-name: slowRotate;
          animation-timing-function: linear;
          animation-iteration-count: infinite;

          /* default (override per img) */
          animation-duration: var(--t, 180s);
          animation-direction: var(--d, normal);
          transform-origin: var(--o, 50% 50%);
     	}